<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">



  <targets>
    <target name="allfile" xsi:type="File" fileName="${basedir}/../../../Logs/${shortdate}.log" createDirs="true" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

  
  </targets>

  <rules>
    <logger name="*" minLevel="ERROR" writeTo="allfile" />
  </rules>

</nlog>
