USE [master]
GO
/****** Object:  Database [DapperWebApi]    Script Date: 6/02/2026 5:08:30 p. m. ******/
CREATE DATABASE [DapperWebApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CursoWebAPINet6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DapperWebApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CursoWebAPINet6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DapperWebApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DapperWebApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DapperWebApi]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NOT NULL,
	[CodEmpleado] [varchar](4) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Edad] [int] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaRetiro] [datetime] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Empleado] UNIQUE NONCLUSTERED 
(
	[CodEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Prueba] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosApi]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosApi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](500) NOT NULL,
	[Password] [varbinary](500) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaRetiro] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Usuarios] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEmpleado]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarEmpleado]
@Nombre varchar(500),
@CodEmpleado varchar(4),
@Email varchar(250),
@Edad int

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF(select count(*) from Empleado where CodEmpleado = @CodEmpleado AND  FechaRetiro IS null) = 0
	BEGIN
		RAISERROR('Codigo de Empleado no existe',16,1);
		RETURN -1
	END

    -- Insert statements for procedure here
	UPDATE Empleado 
	SET Nombre = @Nombre, Email= @Email, Edad = @Edad
	WHERE CodEmpleado = @CodEmpleado    
           
END
GO
/****** Object:  StoredProcedure [dbo].[CrearEmpleado]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearEmpleado]
@Nombre varchar(500),
@CodEmpleado varchar(4),
@Email varchar(250),
@Edad int,
@FechaIngreso datetime
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF(select count(*) from Empleado where CodEmpleado = @CodEmpleado)>0
	BEGIN
		RAISERROR('Codigo de Empleado ya existe',16,1);
	END

    -- Insert statements for procedure here
	INSERT INTO Empleado(Nombre,CodEmpleado,Email,Edad,FechaIngreso,FechaRetiro)
     VALUES
           (@Nombre,@CodEmpleado,@Email,@Edad,@FechaIngreso,null)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuarioApi]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearUsuarioApi]

@UsuarioApi varchar(500),
@PasswordApi varchar(500),
@Email varchar(500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

IF(select count(*) from UsuariosApi where Usuario = @UsuarioApi)> 0
BEGIN
	RAISERROR('el usuario ya existe en nuestro sistema',16,1);
	RETURN -1
END

declare @passEncryptada varbinary(500);
set @passEncryptada= ENCRYPTBYPASSPHRASE('ClaveCifrado',@PasswordApi);

INSERT INTO [dbo].[UsuariosApi] (Usuario,Password,Email,FechaIngreso ,FechaRetiro)
     VALUES (@UsuarioApi,@passEncryptada,@Email,GETDATE(),null)

END
GO
/****** Object:  StoredProcedure [dbo].[Ejemplo]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Ejemplo] 
	-- Add the parameters for the stored procedure here
	@id int = null
AS
BEGIN

	SET NOCOUNT ON;

	select * from prueba where @id is null or id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[EjemploInsert]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EjemploInsert] 
	-- Add the parameters for the stored procedure here
	@nombre varchar(50)
AS
BEGIN

	SET NOCOUNT ON;

	insert into dbo.Prueba (Nombre)values (@nombre)

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEmpleado]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarEmpleado]

@CodEmpleado varchar(4)


	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF(select count(*) from Empleado where CodEmpleado = @CodEmpleado) = 0
	BEGIN
		RAISERROR('Codigo de Empleado no existe',16,1);
		RETURN -1
	END

    -- Insert statements for procedure here
	UPDATE Empleado 
	SET FechaRetiro = GETDATE()
	WHERE CodEmpleado = @CodEmpleado 
           
END
GO
/****** Object:  StoredProcedure [dbo].[EmpleadoAlta]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EmpleadoAlta]
@Nombre varchar(500),
@CodEmpleado varchar(4),
@Email varchar(250),
@Edad int,
@FechaIngreso datetime
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF(select count(*) from Empleado where CodEmpleado = @CodEmpleado)>0
	BEGIN
		RAISERROR('Codigo de Empleado ya existe',16,1);
	END

    -- Insert statements for procedure here
	INSERT INTO Empleado(Nombre,CodEmpleado,Email,Edad,FechaIngreso,FechaRetiro)
     VALUES
           (@Nombre,@CodEmpleado,@Email,@Edad,@FechaIngreso,null)
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEmpleado]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerEmpleado]

@CodEmpleado varchar(4) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;
select * from Empleado where (@CodEmpleado IS NULL OR CodEmpleado = @CodEmpleado) and FechaRetiro IS null;
    -- Insert statements for procedure here

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioApi]    Script Date: 6/02/2026 5:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerUsuarioApi]

@UsuarioApi varchar(500),
@PasswordApi varchar(500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

--IF(select count(*) from UsuariosApi where Usuario = @Usuario)> 0
--BEGIN
--	RAISERROR('el usuario ya existe en nuestro sistema',16,1);
--	RETURN -1
--END

declare @passEncriptada varbinary(500);
declare @passDesEncriptada varbinary(50);

select @passEncriptada=Password from UsuariosApi where Usuario = @UsuarioApi and FechaRetiro is null

set @passDesEncriptada= DECRYPTBYPASSPHRASE('ClaveCifrado',@passEncriptada)

if(@PasswordApi = @passDesEncriptada)
BEGIN
	select  Usuario, Email from UsuariosApi where Usuario= @UsuarioApi and FechaRetiro is null

END
ELSE
BEGIN
	RAISERROR('Credenciales no validas',16,1);

END

--set @passEncriptada= ENCRYPTBYPASSPHRASE('Clave',@PasswordApi);

--INSERT INTO [dbo].[UsuariosApi] (Usuario,Password,Email,FechaIngreso ,FechaRetiro)
--     VALUES (@Usuario,@passEncriptada,@Email,GETDATE(),null)

END
GO
USE [master]
GO
